body{
    height:fit-content;
    background-image: linear-gradient(rgb(255,255,255) , rgb(127, 108, 238));
}
.logo{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
h1{
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

.container{
    max-width: 1000px;
    /* background-color: aquamarine; */
    margin:auto;
    height: 65vh;
    border: 2px solid black;
    border-radius: 14px;
    overflow-y: auto; /*  this is that to scroll and messages should go down the y axis  AND auto does is that when more message than only the scroll bar will come into action */ 
    padding: 33px;
    margin-bottom: 23px;
}
.message{
    background-color: rgb(160, 159, 159);
    width: 24%;
    padding: 12px;
    margin:  17px 12px;
    border:2px solid black;
    border-radius: 5px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;  
}

#send-container{
    display: block;
    margin: auto;
text-align: center;
max-width: 965px;
width: 100%;
}
#messageinput{
    margin-top: 5px;
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;
    font-size: 18px;
    font-family:cursive;

}
.btn1{
    padding: 5px 5px ;
    background-color: black;
    color: aliceblue;
    border-radius: 2px;
    cursor: pointer;
}